.loginForm{
    position: absolute;
    width: 450px;
    height: 250px;
    z-index: 15;
    top: 45%;
    left: 45%;
    margin: -100px 0 0 -150px;
    background: rgb(219, 214, 214);
    border-radius: 20%;
  }
  
  .login{
    text-align: center;
    padding-top: 10px;
    font-size: 2.7em;
    letter-spacing: 5px;
  }
  
  .input{
    margin: auto;
    display: block;
    width: 70%;
    padding: 5px;
    font-size: 15px;
  }
  
  input[type=text]{
    margin-top: -30px;
    margin-bottom: 10px;
  }
  
  /*Game page styling*/
  body{
    background-image:url(./images/bCourt.png) !important;
    background-repeat: no-repeat;
    background-size: 100% 750px;
    /* background-position: center center;
    min-height: 100%; */
  }
  .playCards1, .playCards2{
    width: 150px !important;
    height: 250px !important;
    background-image: url(./images/logoNBA.png);
    background-size: cover;
    background-position: center;
    border: 1px solid;
    position: absolute;
  }
  .playCards1{
    top: 65%;
    left: 2%;
  }
  
  .playCards2{
    top: 0.5%;
    right: 2%;
  }
  
  .card-img-top{
    height: 200px;
    width: 100px;
  }
  
  .playerCard1, .playerCard2{
    position: absolute !important;
    left:45%;
    height: 500px;
  }
  .playerCard1{
    top: 50%;
    margin-top: 10px;
  }
  
  .playerCard2{
    bottom: 50%;
    margin-bottom: 10px;
  }

  /* Game Deck */
  .tempCheck input{
    appearance: none;
  }
  
  .playerDecks{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
  }

  .playerDecks:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.tempCheck input:active +.playerDecks{opacity: .9;}
.tempCheck input:checked +.playerDecks{
  -webkit-filter: none;
     -moz-filter: none;
          filter: none;
}

.playSelect1, .playSelect2{
  background-color: whitesmoke;
  opacity: 0.8;
  position: absolute;
  width: 450px;
  height: 400px;
  border-radius: 5%;
}

.playSelect2{
  left: 60%;
  top: 20%;
}
.playSelect1{
  top: 20%;
  left: 11%;
}
.lakers, .raptors, .heat, .rockets{
  position: absolute;
  width: 150px;
  height: 120px;
}

.lakers{
  background-image: url(./images/Lakers.png);
  top: 22%;
}

.rockets{
  background-image: url(./images/Rockets.png);
  top: 65%;

}
.heat{
  background-image: url(./images/Heat.png);
  top: 65%;
  left: 70%;
}
.raptors{
  background-image: url(./images/Raptors.png);
  top: 20%;
  left: 66%;
}
#playerone, #playertwo{
  text-align: center;
}
#teamName{
  text-transform: capitalize;
}
#playButton{
  position: absolute;
  top: 80%;
  left: 47%;
  height: 57px;
  width: 100px;
  border-radius: 30%;
  background-color: rgb(248, 175, 39);
}
#playButton span{
  font-size: 25px;
  color: white;
}
#playButton:hover{
  background-image: linear-gradient(to right, blue, red);
}
#intro{
  text-align: center;
  margin-top: 6rem;
}
#versus{
  text-align: center;
  margin-top: 13rem;
  font-size: 55px;
}