.loginForm{
    position: absolute;
    width: 450px;
    height: 250px;
    z-index: 15;
    top: 45%;
    left: 45%;
    margin: -100px 0 0 -150px;
    background: rgb(219, 214, 214);
    border-radius: 20%;
  }
  
  .login{
    text-align: center;
    padding-top: 10px;
    font-size: 2.7em;
    letter-spacing: 5px;
  }
  
  .input{
    margin: auto;
    display: block;
    width: 70%;
    padding: 5px;
    font-size: 15px;
  }
  
  input[type=text]{
    margin-top: -30px;
    margin-bottom: 10px;
  }
  
  /*Game page styling*/
  body{
    background-image:url(./images/bCourt.png) !important;
    background-repeat: no-repeat;
    background-size: 100% 750px;
    /* background-position: center center;
    min-height: 100%; */
  }
  .playCard1, .playCard2{
    width: 150px !important;
    height: 250px !important;
    /* background-image: url(./images/logoNBA.png); */
    background-color: black;
    background-size: contain;
    background-position: center;
    border: 1px solid;
    position: absolute;
  }
  .playCard1{
    top: 65%;
    left: 2%;
  }
  
  .playCard2{
    top: 0.5%;
    right: 2%;
  }
  
  .card-img-top{
    height: 200px;
    width: 100px;
  }
  
  .playerCard1, .playerCard2{
    position: absolute !important;
    left:45%;
    height: 500px;
  }
  .playerCard1{
    top: 50%;
    margin-top: 10px;
  }
  
  .playerCard2{
    bottom: 50%;
    margin-bottom: 10px;
  }

  /* Game Deck */
 