@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
#loginForm{
    position: absolute;
    width: 450px;
    height: 250px;
    z-index: 15;
    top: 45%;
    left: 45%;
    margin: -100px 0 0 -150px;
    background: white;
    border-radius: 20%;
    text-align: center;
}

label[for=email]{
    text-align: center;
    padding-left: 18px;
}

input[type=text]{
    height: 20px;
    margin-bottom: 15px ;
    width: 250px;
    margin-left: 10px;
}

input[type=password]{
    height: 20px;
    margin-bottom: 15px ;
    width: 250px;
    margin-left: 10px;
}

#loginBtn{
    width: 100px;
    height: 40px;
    border-radius: 10%;
    background-color: rgb(211, 129, 22);
    margin-left: 10px;
    font-size: 1rem;
}

#signupBtn{
    width: 100px;
    height: 40px;
    border-radius: 10%;
    background-color: rgb(211, 129, 22);
    margin-left: 35px;
    font-size: 1rem;
}

#backBtn{
    width: 100px;
    height: 40px;
    border-radius: 10%;
    background-color: rgb(211, 129, 22);
    font-size: 1rem;
}

#lTitle{
    letter-spacing: 10px;
    color: rgb(255, 166, 0);
    font-size: 35px;
    font-family: 'Merriweather', serif;
}

#sTitle{
    letter-spacing: 5px;
    color: rgb(255, 166, 0);
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
}

#introTitle{
    position: absolute;
    top: 10%;
    left: 45%;
}

.fa-eye{
    position: absolute;
    top: 55%;
    right: 16%;
}
.fa-eye:hover{
    color: #fc8f00;
    cursor: pointer;
}