.tempCheck input{
  appearance: none;
}

.playerDecks{
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  -webkit-transition: all 100ms ease-in;
     -moz-transition: all 100ms ease-in;
          transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
     -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
          filter: brightness(1.8) grayscale(1) opacity(.7);
}

.playerDecks:hover{
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
     -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
          filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.playerDecks:active {opacity: 0.9;}
/* .tempCheck input:active +.playerDecks{opacity: .9;} */
.tempCheck input:checked +.playerDecks {
-webkit-filter: none;
   -moz-filter: none;
        filter: none;
}

.playSelect1, .playSelect2{
background-color: whitesmoke;
opacity: 0.8;
position: absolute;
width: 450px;
height: 400px;
border-radius: 5%;
}

.playSelect2{
left: 60%;
top: 20%;
}
.playSelect1{
top: 20%;
left: 11%;
}
.lakers, .raptors, .heat, .rockets{
position: absolute;
width: 150px;
height: 120px;
}

.lakers{
background-image: url(../images/Lakers.png);
top: 22%;
}

.rockets{
background-image: url(../images/Rockets.png);
top: 65%;

}
.heat{
background-image: url(../images/Heat.png);
top: 65%;
left: 70%;
}
.raptors{
background-image: url(../images/Raptors.png);
top: 20%;
left: 66%;
}
#playerone, #playertwo{
text-align: center;
}
#teamName{
text-transform: capitalize;
}
#playButton{
position: absolute;
top: 80%;
left: 47%;
height: 57px;
width: 100px;
border-radius: 30%;
background-color: rgb(248, 175, 39);
}
#playButton span{
font-size: 25px;
color: white;
}
#playButton:hover{
background-image: linear-gradient(to right, blue, red);
}
#intro{
text-align: center;
margin-top: 6rem;
}
#versus{
text-align: center;
margin-top: 13rem;
font-size: 55px;
}