.playCard1, .playCard2{
    width: 150px !important;
    height: 250px !important;
    /* background-image: url(./images/logoNBA.png); */
    background-color: black;
    background-size: contain;
    background-position: center;
    border: 1px solid;
    position: absolute;
<<<<<<< HEAD:client/src/components/Play/deck.css
    border-radius: 10px;
=======
    z-index: 2;
>>>>>>> main:client/src/components/gamePage/placeholder.css
  }
  .playCard1{
    top: 55%;
    left: 2%;
  }
  
  .playCard2{
    top: 8%;
    right: 2%;
  }
  
  .card-img-top{
    height: 200px;
    width: 100px;
  }
  
  .playerCard1, .playerCard2{
    position: absolute !important;
    left:45%;
    height: 500px;
  }
  .playerCard1{
    top: 50%;
    margin-top: 10px;
  }
  
  .playerCard2{
    bottom: 50%;
    margin-bottom: 10px;
  }

<<<<<<< HEAD:client/src/components/Play/deck.css
/* Team Colors */
.Lakers {
  /* background: linear-gradient(gold, purple); */
  background-image: url("../../images/Lakers.png");
}

.Raptors {
  /* background: linear-gradient(#CE1141,#000000,#A1A1A4); */
  background-image: url("../../images/Raptors.png");
}

.Heat {
  /* background: linear-gradient(#98002E, #F9A01B, #000000) ; */
  background-image: url("../../images/Heat.png");
}

.Rockets {
  /* background: linear-gradient(#C4CED4, #CE1141, #000000) */
  background-image: url("../../images/Rockets.png");
}
=======
  .lakersDeck{
    background-image: url(../../images/Lakers.png);
  }
  .raptorsDeck{
    background-image: url(../../images/Raptors.png);
    }
    .heatDeck{
        background-image: url(../../images/Heat.png);
    }
    .rocketsDeck{
        background-image: url(../../images/Rockets.png);
    }
>>>>>>> main:client/src/components/gamePage/placeholder.css
