/* Deck Cards */
.playCard1, .playCard2{
    width: 150px !important;
    height: 250px !important;
    /* background-image: url(./images/logoNBA.png); */
    background-color: black;
    background-size: contain;
    background-position: center;
    border: 1px solid;
    position: absolute;
    border-radius: 10px;
    z-index: 2;
  }
  .playCard1{
    top: 55%;
    left: 2%;
  }
  
  .playCard2{
    top: 8%;
    right: 2%;
  }
  
  .card-img-top{
    height: 200px;
    width: 100px;
  }

  /* Hand Cards */
  .player1Card, .player2Card{
    position: absolute !important;
    /* left:45%; */
    /* height: 500px; */
  }

  .player1Card{
    left: 25%;
    top: 10%;
    margin-top: 10px;
  }
  
  .player2Card{
    right: 25%;
    top: 10%;
    margin-bottom: 10px;
  }

  #player1Active{
    border: 5px solid yellow
  }
  #player2Active{
    border: 5px solid yellow
  }

body {
  margin: 0;
}
/* Team Colors */
.Lakers {
  /* background: linear-gradient(gold, purple); */
  background-image: url("../../images/Lakers.png");
}

.Raptors {
  /* background: linear-gradient(#CE1141,#000000,#A1A1A4); */
  background-image: url("../../images/Raptors.png");
}

.Heat {
  /* background: linear-gradient(#98002E, #F9A01B, #000000) ; */
  background-image: url("../../images/Heat.png");
}

.Rockets {
  /* background: linear-gradient(#C4CED4, #CE1141, #000000) */
  background-image: url("../../images/Rockets.png");
}
