.player1Grave, .player2Grave{
    background: url("../../images/graveyard/graveyard.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    z-index: 1;
    position: absolute;
}

.player1Grave{
    top: 55%;
    left: 14%
}
.player2Grave{
    /* top: -%; */
    right: 14%;
}